$primary-colour: #b85167;
$secondary-colour: #d66b82;
$background-colour: #58a875;
$background-colour-dark: #5e6a4f;
$background-colour-darkest: #253a1b;
$font-colour: #2e1600;
$hover-colour: #ba604a;
$click-colour: #4b0215;
$lightest-colour: #f8dd90;
$input-hover-colour: lightgray;
