@use "./partials/palette";
@use "./partials/devices";

input {
    width: 150px;
    height: 50px;
    background-color: palette.$hover-colour;
    margin: 2px;
    border-radius: 10px;
    border: 2px solid palette.$click-colour;
    font-weight: bold;
    @include devices.phone-s {
        width: 50px;
        margin: 1px;
    }
    @include devices.phone {
        width: 60px;
        margin: 1px;
    }
    @include devices.tablet {
        width: 100px;
    }

    &:hover {
        background-color: palette.$secondary-colour;
        cursor: pointer;
    }
    &:active {
        background-color: palette.$click-colour;
        color: white;
    }
}

.calculator {
    width: 100%;
    height: 90%;
    padding-top: 10%;
    background-color: palette.$background-colour-dark;
    &__title {
        text-align: center;
        color: palette.$background-colour-darkest;
        text-shadow: 2px 2px palette.$font-colour;
        max-width: 80%;
        margin: auto;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 50px;
        @include devices.phone-s {
            font-size: 20px;
            text-shadow: 1px 1px palette.$font-colour;
        }
        @include devices.phone {
            font-size: 30px;
            text-shadow: 1px 1px palette.$font-colour;
        }
        @include devices.tablet {
            font-size: 40px;
        }
    }
    &__subtitle {
        font-family: Arial;
        font-size: 15px;
        color: palette.$font-colour;
        text-align: center;
        max-width: 80%;
        margin: auto;
        @include devices.phone-s {
            font-size: 13px;
        }
    }
    &__box {
        display: flex;
        justify-content: center;
        &--result {
            background-color: white;
            width: 650px;
            height: 50px;
            font-size: 50px;
            font-family: "Courier New", Courier, monospace;
            @include devices.phone-s {
                width: 230px;
                font-size: 40px;
            }
            @include devices.phone {
                width: 300px;
            }
            @include devices.tablet {
                width: 450px;
            }
            &:hover {
                background-color: palette.$input-hover-colour;
            }
        }
        &--equals {
            width: 320px;
            background-color: palette.$primary-colour;
            @include devices.phone-s {
                width: 110px;
            }
            @include devices.phone {
                width: 150px;
            }
            @include devices.tablet {
                width: 225px;
            }
        }
        &--clear {
            background-color: palette.$primary-colour;
        }
    }
}
p {
    font-family: Arial;
    font-size: 14px;
    color: palette.$font-colour;
    text-align: center;
    max-width: 80%;
    margin: auto;
    @include devices.phone-s {
        font-size: 12px;
    }
}
footer {
    padding-top: 40px;
}
a:link {
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    color: palette.$lightest-colour;
}

a:hover {
    color: palette.$click-colour;
}
a:visited {
    color: palette.$font-colour;
}
