input {
  width: 150px;
  height: 50px;
  background-color: #ba604a;
  margin: 2px;
  border-radius: 10px;
  border: 2px solid #4b0215;
  font-weight: bold;
}
@media only screen and (max-width: 350px) {
  input {
    width: 50px;
    margin: 1px;
  }
}
@media only screen and (min-width: 350px) and (max-width: 500px) {
  input {
    width: 60px;
    margin: 1px;
  }
}
@media only screen and (min-width: 500px) and (max-width: 700px) {
  input {
    width: 100px;
  }
}
input:hover {
  background-color: #d66b82;
  cursor: pointer;
}
input:active {
  background-color: #4b0215;
  color: white;
}

.calculator {
  width: 100%;
  height: 100%;
  background-color: #5e6a4f;
}
.calculator__title {
  text-align: center;
  color: #253a1b;
  text-shadow: 1px 1px #2e1600;
  font-family: Arial, Helvetica, sans-serif;
}
.calculator__box {
  display: flex;
  justify-content: center;
}
.calculator__box--result {
  background-color: white;
  width: 650px;
  height: 50px;
  font-size: 50px;
  font-family: "Courier New", Courier, monospace;
}
@media only screen and (max-width: 350px) {
  .calculator__box--result {
    width: 230px;
    font-size: 40px;
  }
}
@media only screen and (min-width: 350px) and (max-width: 500px) {
  .calculator__box--result {
    width: 300px;
  }
}
@media only screen and (min-width: 500px) and (max-width: 700px) {
  .calculator__box--result {
    width: 450px;
  }
}
.calculator__box--result:hover {
  background-color: lightgray;
}
.calculator__box--equals, .calculator__box--clear {
  width: 320px;
  background-color: #b85167;
}
@media only screen and (max-width: 350px) {
  .calculator__box--equals, .calculator__box--clear {
    width: 110px;
  }
}
@media only screen and (min-width: 350px) and (max-width: 500px) {
  .calculator__box--equals, .calculator__box--clear {
    width: 150px;
  }
}
@media only screen and (min-width: 500px) and (max-width: 700px) {
  .calculator__box--equals, .calculator__box--clear {
    width: 225px;
  }
}
